/*
!.*
.BAH26742/
.DC_Store
.DS_Store
.DownloadManager/
.MCXLC
.Trash/
.Xauthority
.bash_history
.bundler/
.cc_config/
.cups/
.cvspass
.dbshell
.dropbox/
.ec2/
.eclipse/
.eclipse_keyring
.gem/
.heroku/
.hudson/
.install4j
.jxta/
.lesshst
.littleshoot/
.m2/
.mplayer/
.myeclipse.properties
.myeclipse/
.myjxta/
.mysql_history
.parallels/
.parallels_settings
.powerupdate.user.propertiesties
.psql_history
.rdebug_hist
.rdebugrc
.rnd
.sancho/
.smb/
.sqlite_history
.ssh/
.subversion/
.swo
.swp
.tcshrc
.smbtcshrc.macports-saved_2009-12-11_at_09:56:19
.vimmfuzzyfinder
.viminfo
.viminfo.tmp
.viminfw.tmp
.viminfx.tmp
vimmfuzzyfinder.viminfy.tmp
.viminfz.tmp
.vimprojects
.vnc/
.wapi/
viminfz.yjp/
.powerupdate.user.properties
.tcshrc.macports-saved_2009-12-11_at_09:56:11_at_0919
.vimfuzzyfinder
.viminfy.tmp
.yjp/
.tcshrc.macports-saved_2009-12-11_at_09:56:19
      
